
/**
 * Appcues logo.
 */

.logo[data-logo="Appcues"] {
  width: 0;
}

.logo[data-logo="Appcues"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Appcues"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Appcues"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
